

.footer-area {
    overflow: hidden;
    background: grey;
    padding: 20px 0;
    p {
        color: white;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500;
    }
}

