
.services-area{
    overflow:hidden;
    padding-left:10px;
    padding-right:10px;
}
.single-service {
    float: left;
    width: 32%;
    margin-right: 2%;
    border:1px solid gray;
    border-radius:5px;
    padding:25px;
    margin-bottom:5px;
    h4 {
        text-transform: uppercase;
    }
    i {
        background-color: purple;
        padding: 15px;
        border-radius: 50%;
        color: #fff;
        &:hover{
            background-color:goldenrod;
            color:blueviolet;
            font-weight: bold;
        }
    }
}

.single-service:nth-child(3n) {
    margin-right: 0px;
}

